body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 1.5rem;
}

.btn {
  border: none;
  padding: 0.9rem 1.8rem;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-primary {
  background: hsl(5, 85%, 63%);
  color: white;
}

.btn-primary:hover {
  background: hsl(240, 100%, 5%);
  transform: translateY(-2px);
}

.sestionTitle {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* old styling */
/* old styling */
/* old styling */
.mainContainer {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.desktopImage {
  display: none;
}

.readButton {
  border: none;
  padding: 0.7rem 1rem;

  background-color: hsl(5, 85%, 63%);
}

.newBrief {
  padding: 1.2rem 0.7rem;
  background-color: hsl(240, 100%, 5%);
  margin-top: 20px;
  margin-bottom: 20px;
  color: hsl(36, 100%, 99%);
}

.newBrief h2 {
  font-weight: bold;
  color: hsl(35, 77%, 62%);
}

.newBrief p {
  color: hsl(233, 8%, 79%);
}
